<!DOCTYPE html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>酒店管理系统 </title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="../static/css/superfish.css">
	<link rel="stylesheet" href="../static/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="../static/css/cs-select.css">
	<link rel="stylesheet" href="../static/css/cs-skin-border.css">

	<link rel="stylesheet" href="../static/css/themify-icons.css">
	<link rel="stylesheet" href="../static/css/flaticon.css">
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<link rel="stylesheet" href="../static/css/flexslider.css">

	<!-- Style -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>

	<script src="../static/js/respond.min.js"></script>
</head>
<style type="text/css">
    #bg {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    #bg img {
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        width:100%;
        height:100%;
        z-index:-1;
    }
    </style>

<body>
	<div id="fh5co-page"id="bg">

        <img src="../static/images/slider1.jpg" alt="">

	<div id="fh5co-header">
		<header id="fh5co-header-section">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
					<h1 id="fh5co-logo"><a href="http://127.0.0.1:8000/index">欢迎使用本酒店管理系统</a></h1>
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="http://127.0.0.1:8000/insert_staff">员工管理</a></li>
							<li><a href="http://127.0.0.1:8000/insert_client" >顾客管理</a></li>
							<li><a href="http://127.0.0.1:8000/insert_food">餐厅管理</a></li>
                            <li><a href="http://127.0.0.1:8000/insert_room">客房管理</a></li>
							<li><a href="http://127.0.0.1:8000/insert_park">停车场管理</a></li>
                            <li><a href="http://127.0.0.1:8000/insert_vip">会员信息管理</a></li>
                            <li><a href="http://127.0.0.1:8000/insert_order">餐厅订单管理</a></li>
                            <li><a href="http://127.0.0.1:8000/insert_accomodation">客房订单管理</a></li>

						</ul>
					</nav>
				</div>
			</div>
		</header>
	</div>
	<!-- end:fh5co-header -->
	<div class="fh5co-parallax" style="background-image: url(images/slider1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
				</div>
			</div>
		</div>
	</div>
</body>
</html>